<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">OrgChart</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Mindmap
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Userhandles">
                <span class="oi oi-plus" aria-hidden="true"></span> User handles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="KeyboardInteraction">
                <span class="oi oi-plus" aria-hidden="true"></span> Keyboard Interaction
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExpandCollapse">
                <span class="oi oi-plus" aria-hidden="true"></span> Expand Collapse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DragAndDrop">
                <span class="oi oi-plus" aria-hidden="true"></span> Drag and Drop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomShape">
                <span class="oi oi-plus" aria-hidden="true"></span> Custom shapes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Spacing">
                <span class="oi oi-plus" aria-hidden="true"></span> Spacing
            </NavLink>
        </li>
       
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
