@namespace GroupingCommands.Shared
@inherits LayoutComponentBase

<PageTitle>GroupingCommands</PageTitle>

<div class="page">
    <div class="sidebar">
    </div>


    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
