@inherits LayoutComponentBase

<div class="page">
    <main>
        @* <div class="top-row px-4"> *@
        @* <a href="https://www.syncfusion.com/blazor-components/" target="_blank">Blazor Components</a> *@
        @* <a href="https://blazor.syncfusion.com/documentation/" target="_blank">User Guide</a> *@
        @* <a href="http://blazor.syncfusion.com/" target="_blank">View Demos</a>        <div style="padding-left:10px;width:1px;height:25px;color:#E4E4E4">|</div> *@
        @* <CultureSwitcher/>  *@
        @* </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
