@namespace StraightSegmentShape.Shared
@inherits LayoutComponentBase

<PageTitle>StraightSegmentShape</PageTitle>

<div class="page">
    <div class="sidebar">
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
