@namespace HTMl_NodeSizeChange.Shared
@inherits LayoutComponentBase

<PageTitle>HTMl_NodeSizeChange</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
