@page "/"

<div class="test-node-wrapper  my-auto mx-auto rounded-3 border border-dark border border-2 bg-info">
    <HtmlDiagram></HtmlDiagram>
</div>



<style>
    .test-node-wrapper {
        width: 1100px;
        height: 500px;
        overflow: hidden;
    }
</style>